@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --accent: #00aaaa;
    --black: #000;
    --white: #fff;
    --light-bg: #eee;
    --dark-bg: #3b3b3b;
    --contrast-dark-bg: #525252;
    --light-grey: #727272;
    --dark-mode-border-color: #cececec2;
    --dark-mode-text: #e0e0e0;
    --border-bold: .5rem solid var(--black);
    --border-light: .2rem solid var(--black);
    --border-bold-dark: .5rem solid var(--dark-mode-border-color);
    --border-dark: .2rem solid var(--dark-mode-border-color);
}

*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

*::selection{
    background-color: var(--black);
    color: var(--accent);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--accent);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    padding-left: 35rem;
    background-color: var(--light-bg);
    color: black;
    border: var(--border-light);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.dark-mode{
    background-color: var(--dark-bg);
    border: var(--border-dark);
}


.heading{
    margin-bottom: 3rem;
    text-align: center;
}

body.dark-mode .heading span{
    border-bottom: var(--border-dark);
    color: var(--dark-mode-text);
}

.heading span{
    text-transform: uppercase;
    font-size: 6.5rem;
    border-bottom: var(--border-bold);
    color: var(--black);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border-light);
    font-size: 2rem;
}

.btn:hover{
    background-color: var(--black);
    color: var(--white);
}

body.dark-mode .btn{
    background-color: var(--dark-bg);
    color: var(--dark-mode-text);
    border: var(--border-dark);
}

body.dark-mode .btn:hover{
    background-color: var(--light-bg);
    color: var(--black);
}

.header{
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    border-right: var(--border-bold);
    width: 35rem;
    padding: 3rem 2rem;
    display: block;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 999;
}

body.dark-mode .header{
    border-right: var(--border-bold);
    background-color: var(--contrast-dark-bg);
}

.header .logo{
    text-transform: uppercase;
    border-bottom: var(--border-bold);
    font-weight: bolder;
    font-size: 4.5rem;
    display: block;
}

body.dark-mode .header .logo{
    color: var(--dark-mode-text);
    border-bottom: var(--border-bold-dark);
}

.header .dark_mode_toggle{
    width: 20rem;
    font-size: 5rem;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 1rem;
    margin-top: 10px;
    position: relattive;
    background-color: var(--light-bg);
}

.header .dark_mode_toggle:hover{
    background-color: var(--dark-bg);
    color:white;
}

body.dark-mode .header .dark_mode_toggle{
    border: var(--border-bold-dark);
    background-color: var(--dark-bg);
    color: var(--dark-mode-text);
}

body.dark-mode .header .dark_mode_toggle:hover{
    background-color: var(--dark-mode-text);
    color:black;
}

.header .side_menu{
    width: 100%;
    position: flex;
    margin-top: 50%;
}

.header .side_menu a{
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: .5rem;
    color: var(--black);
}

body.dark-mode .header .side_menu a{
    color: var(--dark-mode-text);
}

.header .side_menu a:hover{
    color: var(--white);
    background-color: var(--dark-bg);
}

.header .side_menu a.active{
    background-color: var(--accent);
}

body.dark-mode .header .side_menu a.active{
    background-color: var(--accent);
    color: var(--black);
}

.header .follow{
    bottom: 0;
    margin: auto;
}

.header .follow a{
    color: var(--black);
    font-size: 3rem;
    margin: 1rem .5rem;
    cursor: pointer;
    transition: .25s linear !important;
}

.header .follow a:hover{
    transform: scale(1.5, 1.5);
}

body.dark-mode .header .follow a{
    color: var(--white);
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    height: 65rem;
    padding: 1rem;
    border: var(--border-bold);
}

body.dark-mode .home .image img{
    border: var(--border-bold-dark);
}

.home .content{
    flex: 1 1 40rem;
}

.home .content h3{
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: .5rem;
    padding: 2rem;
    border: var(--border-bold);
    color: var(--black);
}

body.dark-mode .home .content h3{
    border: var(--border-bold-dark);
    color: var(--dark-mode-text);
}

.about .biography .bio{
    margin: 1rem 0;
}

.about .biography .bio h3{
    padding: 1rem 1.5rem;
    display: inline-block;
    margin: 1rem;
    border: var(--border-light);
    word-break: break-all;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: none;
    color: var(--black);
}

body.dark-mode .about .biography .bio h3{
    border: var(--border-dark);
    color: var(--dark-mode-text);
}

.about .biography .bio h3 span{
    font-weight: lighter;
}

.about .biography a{
    background-color: var(--light-bg);
    color: var(--black);
}

.about .biography a:hover{
    background-color: var(--black);
    color: var(--light-bg);
}

body.dark-mode .about .biography a{
    background-color: var(--dark-bg);
    color: var(--dark-mode-text);
}

body.dark-mode .about .biography a:hover{
    background-color: var(--dark-mode-border-color);
    color: var(--black);
}

.about .skills{
    margin: 3rem 0;
}

.about .skills .progress{
    margin-top: 1rem;
}

.about .skills .progress .bar{
    display: flex;
    margin: 1rem auto;
    max-width: 70rem;
    border: var(--border-bold);
    justify-content: space-between;
}

body.dark-mode .about .skills .progress .bar{
    border: var(--border-bold-dark);
}

.about .skills .progress .bar span.skill{
    font-weight: bold;
    color: var(--black);
}

body.dark-mode .about .skills .progress .bar span.skill{
    color: var(--dark-bg);
}

.about .skills .progress .bar h3{
    display: flex;
    align-items: center;
    justify-content: inherit;
    background-color: var(--accent);
    font-size: 2rem;
    padding: 2rem;
}

/* Bar fill */

.about .skills .progress .bar:nth-child(1) h3{
    width: 90%;
}

.about .skills .progress .bar:nth-child(2) h3{
    width: 90%;
}

.about .skills .progress .bar:nth-child(3) h3{
    width: 90%;
}

.about .skills .progress .bar:nth-child(4) h3{
    width: 50%;
}

.about .skills .progress .bar:nth-child(5) h3{
    width: 50%;
}

.about .skills .progress .bar:nth-child(6) h3{
    width: 25%;
}

.about .skills .progress .bar:nth-child(7) h3{
    width: 25%;
}

.about .edu-exp .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .edu-exp .row .box-container{
    flex: 1 1 40rem;
}

.about .edu-exp .row .box-container .title{
    padding: 1.5rem;
    font-size: 2.5rem;
    background-color: var(--accent);
    color: var(--black);
}

body.dark-mode .about .edu-exp .row .box-container .title{
    color: var(--dark-bg);
}


.about .edu-exp .row .box-container .box{
    text-align: left;
    margin: 1.5rem 0;
    background-color: var(--light-bg);
    padding: 2rem;
    color: var(--black);
}

body.dark-mode .about .edu-exp .row .box-container .box{
    background-color: var(--dark-bg);
    color: var(--dark-mode-text);
}

.about .edu-exp .row .box-container .box span{
    font-size: 1.5rem;
}

.about .edu-exp .row .box-container .box h3{
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about .edu-exp .row .box-container .box p{
    line-height: 1.5;
    font-size: 1.7rem;
}


.contact form{
    max-width: 70rem;
    margin: 0 auto;
}

.contact form .box{
    width: 100%;
    padding: 1.4rem;
    font-size: 2rem;
    text-transform: none;
    border: var(--border-light);
    background-color: var(--light-bg);
    margin: 1rem 0;
}

.contact form input, .contact form input::placeholder, .contact form input:focus{
    color: var(--black);
}

body.dark-mode .contact form input, body.dark-mode .contact form input::placeholder, body.dark-mode .contact form input:focus{
    color: var(--dark-mode-text);
}

.contact form textarea, .contact form textarea::placeholder, .contact form textarea:focus{
    color: var(--black);
}

body.dark-mode .contact form textarea, body.dark-mode .contact form textarea::placeholder, body.dark-mode .contact form textarea:focus{
    color: var(--dark-mode-text)
;}

body.dark-mode .contact form .box{
    border: var(--border-dark);
    background-color: var(--dark-bg);
}

.contact form textarea{
    height: 20rem;
    resize: none;
}

.contact form .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .flex .box{
    width: 49%;
}

.contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    margin-top: 3rem;
    color: var(--black);
}

body.dark-mode .contact .box-container{
    color: var(--dark-mode-text);
}

.contact .box-container .box{
    padding: 3rem 2rem;
    border: var(--border-light);
    background-color: var(--light-bg);
}

body.dark-mode .contact .box-container .box{
    border: var(--border-dark);
    background-color: var(--dark-bg);
}

.contact .box-container .box i{
    font-size: 3rem;
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    color: var(--white);
    background-color: var(--black);
    margin-bottom: .5rem;
}

body.dark-mode .contact .box-container .box i{
    color: var(--black);
    background-color: var(--light-bg);
}


.contact .box-container .box h3{
    margin: 1.5rem 0;
    font-size: 2.5rem;
}

.contact .box-container .box p{
    font-size: 1.7rem;
    text-transform: none;
}

/* .message{
    position: sticky;
    top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 2rem;
}

.message i{
    cursor: pointer;
} */


.credit{
    text-align: center;
    background-color: var(--black);
    padding: 3rem;
    font-size: 2rem;
    color: var(--white);
}

.credit span{
    color: var(--accent);
}










/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body.active{
        padding-left: 0;
    }

}

@media (max-width:450px){
    
    html{
        font-size: 50;
    }

    .header.active{
        padding-top: 7rem;
    }

    #menu-btn.fa-times{
        right: 0;
    }

    .home .image img{
        height: auto;
        width: 100%;
    }

    .heading span{
        font-size: 4rem;
    }

    .about .biography .bio h3{
        font-size: 2rem;
    }

    .contact form .flex .box{
        width: 100%;
    }

}